
.container{
	margin-top: 50px;
}

section{
	margin: 200px 0px 0px 50px;
	font-size: 16px;
}

section p{
	margin-left: 100px;
	margin-right: 100px;
}

section img{
	margin-right: 50px;
	height: 150px;
	width: 150px;
	border-radius: 150px;
	float: left;
}