<!DOCTYPE html>
<html>
<head>
	<title>Profession Space</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<div class="container">
		<a href="/logout"><button type="button" class="btn btn-outline-success my-2 my-sm-0 state_change">Logout</button></a>
		<a href="/home"><button type="button" class="btn btn-outline-success my-2 my-sm-0 state_change">Profile</button></a>
		<form class="form-inline my-2 my-lg-0 state_change" action="/company_search" method="GET">
				<input class="form-control mr-sm-2" type="search" placeholder="Search Company" name="company_name" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
		<h2>Professional-Space</h2>
		<div class="profile">
			<img src="{{ data.profile_img_path }}">
			<p> Name: <b>{{ data.name}}</b> </p>
			<p> Job-Role: <b>{{ data.job_role}}</b> </p>
			<p> Company Name: <b><a href="{{ '/company/'~data.company_name }}"> {{data.company_name }}</b> </a></p>
		</div>
	</div>
</body>
</html>