<!DOCTYPE html>
<html>
<head>
	<title>Profession Space</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<div class="container">
		<center><h2>Pralipti Professional Space</h2></center>
		<section>
			<img src="https://sayak9495.github.io/images/05.jpg">
			<p> Sayak Sen </p>
			<p> Software-Developer </p>
			<p> <a href=#> Pralitpi </a></p>
		</section>
	</div>
</body>
</html>