<!DOCTYPE html>
<html>
<head>
	<title>Profession Space</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<div class="container">
		<a href="/signup"><button type="button" class="btn btn-secondary state_change">SignUp</button></a>
		<center><h2>Pratilipi Login-Space</h2></center>
		<div class="login-signup">
			{% if message %}
				<p class="message">{{ message | safe }}</p>
			{% endif %}
			<form class="login-form" action="/login" method="POST">
				<div class="form-group">
					<label>Email</label>
					<input type="email" name="email" class="form-control" placeholder="Enter Email">
					<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			  </div>
			  <div class="form-group">
					<label>Password</label>
					<input type="password" name="password" class="form-control" placeholder="Password">
			  </div>
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>	
		</div>
	</div>
</body>
</html>